In [3]:
# Importamos pandas como "pd" por convención
import pandas as pd

# Importanmos numpy como "np" por convención
import numpy as np

# Importamos matplotlib.pyplot como "plt" por convención
%matplotlib inline
import matplotlib.pyplot as plt

In [32]:
clientes = pd.read_csv('data/cliente_tabla.csv') #Catálogo de clientes
productos = pd.read_csv('data/producto_tabla.csv') #Cat de productos
estado_ciudad = pd.read_csv('data/town_state.csv') #Carga 
train = pd.read_csv('data/train-000.csv')# Se dividió el train en segmentos de 1000000 lineas para su sampleo con la librería csvsplitter
train.head()

,Semana,Agencia_ID,Canal_ID,Ruta_SAK,Cliente_ID,Producto_ID,Venta_uni_hoy,Venta_hoy,Dev_uni_proxima,Dev_proxima,Demanda_uni_equil
0,3,1110,7,3301,15766,1212,3,25.14,0,0.0,3
1,3,1110,7,3301,15766,1216,4,33.52,0,0.0,4
2,3,1110,7,3301,15766,1238,4,39.32,0,0.0,4
3,3,1110,7,3301,15766,1240,4,33.52,0,0.0,4
4,3,1110,7,3301,15766,1242,3,22.92,0,0.0,3

In [5]:
#len(clientes['Cliente_ID'].unique()) #Necesario quitar duplicados colocando la información concatenada del nombre
agrupados = clientes.groupby(clientes['Cliente_ID']).sum()
print(agrupados)

                                                NombreCliente
Cliente_ID
0                                                  SIN NOMBRE
1                                            OXXO XINANTECATL
2                                                  SIN NOMBRE
3                                                   EL MORENO
4           SDN SER  DE ALIM  CUERPO SA CIA  DE INTSDN SER...
5                                                  LA VAQUITA
6                                                      LUPITA
7                                                I M EL GUERO
8                                        MINI SUPER LOS LUPES
9                                   SUPER KOMPRAS MICRO COLON
10                                    LONJA MERCANTIL DE TODO
11                                  FARMACIA NICOLAS SAN JUAN
12                                           PAPELERIA CATALA
13                                                      ELENA
14                                                 CASA TRINO
15                                   FMA035947 BIMBO SA DE CV
16                                                       JOYS
17                                                   DE MARCO
18                                                   LUPES II
19                                                LA TIENDITA
20                    FMA026712 TECNOAUTOMOTRIZ ATLACOMULCO S
21                                             ABARROTES IVAN
22                                                    GARNICA
23                   FMA026709 BUCIRUS BLADAS DE MEXICO SA DE
24                   FMA026248 PROVEEDORA DEL NORTE DEL ESTAD
25                                               LA CARROSITA
26                           BODEGA COMERCIAL MEXICANA TOLUCA
27                                                    MARQUEZ
28                     FMA033097 AUTOMOTRIZ MEXICANA S A DE C
29                                       JOSE AGUILAR CATALAN
...                                                       ...
9891358                                          OXXO GAXIOLA
9891984                                         OXXO CASTILLO
9892002                                      OXXO BUGAMBILIAS
9892008                                        FARMACIA YZA 6
9892020                                    SUPERDES CIHUATLAN
9892026                                 SUPER WILLYS TZUCACAB
9902512                                         OXXO BELLOTAS
9902526                                     DUNOSUSA SAN JUAN
9927190                                      OXXO PLAYA MARTE
9943143                              ANA MARIA ZEPEDA PARTIDA
9962735                          TIENDAS TRES B LA POLVORILLA
9982898                             SC MACRO PLAZA INSURGENTE
9991105                          EL PORTON LOS HEROES TECAMAC
9999999                                       NO IDENTIFICADO
10033178                           MEGA SAN MIGUEL DE ALLENDE
10142492                                    OXXO FUERZA AEREA
10142588                               mi bodega nueva italia
10281997                                        OXXO CONGRESO
10303963               DISTRIBUIDORA VIGIL TOSCANO S A DE C V
10351784                                          OXXO ALAZAN
10351790                                        OXXO ALAMO II
10351796                                           OXXO ALAMO
10351802                                        OXXO IDOLO II
10351808                                 OXXO TUXPAM TAMIAHUA
10351814                                     OXXO DE LA LLAVE
11011586                                           OXXO PETEN
11693264                                 SUPER ABARROTES MARY
19988629                                      NO IDENTIFICADO
99999999                                      NO IDENTIFICADO
2015152015                                    NO IDENTIFICADO

[930500 rows x 1 columns]

In [10]:
#data['NombreCliente'].value_counts()
#len(data['Cliente_ID'].unique())

930500

In [10]:
productos.columns

Index(['Producto_ID', 'NombreProducto'], dtype='object')

In [12]:
productos.groupby(productos['NombreProducto']) #Viendo los datos se puede considerar como productos únicos
productos['Producto_ID'].count

<bound method Series.count of 0           0
1           9
2          41
3          53
4          72
5          73
6          98
7          99
8         100
9         106
10        107
11        108
12        109
13        112
14        122
15        123
16        125
17        131
18        132
19        134
20        135
21        141
22        145
23        151
24        157
25        160
26        161
27        162
28        163
29        179
        ...
2562    49737
2563    49738
2564    49739
2565    49740
2566    49754
2567    49765
2568    49766
2569    49769
2570    49773
2571    49779
2572    49781
2573    49782
2574    49810
2575    49835
2576    49860
2577    49892
2578    49920
2579    49928
2580    49944
2581    49972
2582    49973
2583    49986
2584    49988
2585    49989
2586    49990
2587    49992
2588    49993
2589    49994
2590    49996
2591    49997
Name: Producto_ID, dtype: int64>

In [31]:
#train['Semana'].mean()
len(train['Ruta_SAK'].unique())

613